.hidden{
display:none;
}

#addTaskBtn{
width:100%;
margin-top:20px;
padding:10px;
background:#4CAF50;
color:white;
border:none;
border-radius:6px;
}

#taskInputContainer{
margin-top:15px;
display:flex;
gap:8px;
}