.hidden{
display:none;
}

body{
margin:0;
height:100vh;
font-family:'Caveat',cursive;

background-image:url("assets/background.png");
background-size:100% 100%;
background-repeat:no-repeat;

border-radius:16px;
overflow:hidden;

-webkit-app-region:drag;
}

input{
-webkit-app-region: no-drag;
}

button{
-webkit-app-region:no-drag;
cursor:pointer;
}

#topBar{
width:100%;
height:20px;
display:flex;
justify-content:flex-end;
}

#closeBtn{
background:none;
border:none;
font-size:14px;
color:#5c4033;
}

#taskList{
margin-top:90px;
padding-left:20px;
}

li{
color:#5c4033;
font-weight:600;
font-size:16px;
}

#addTaskContainer{
display:flex;
justify-content:center;
margin-top:6px;
}

#addTaskBtn{
padding:4px 10px;
font-size:12px;
border:none;
border-radius:8px;
background:#8b5e3c;
color:white;
}


#taskInputContainer{

display:flex;
gap:6px;
margin-top:6px;
justify-content:center;
}

html{
background:#e8d5bb;
}

#taskInput{
padding:3px 6px;
font-size:12px;
height:20px;
}

#saveTaskBtn{
padding:3px 6px;
font-size:11px;
}

#taskList{
margin-top:90px;
max-height:140px;
overflow-y:auto;
}